.list {
    grid-column: 8 / span 12;

    list-style: none;
    padding: 1rem;
    min-height: 100vh;

    background: var(--primary-color);
}

.key {
    max-width: 120px;
    text-transform: uppercase;
}

.uppercaseText {
    text-transform: uppercase;
    font-weight: 550;
    line-height: 1.2rem;
}